/*
Colors used:
Primary Color (Black): #0c0f0f;
Primary Color (Dark Gray): 333333;
Primary Color (White): ffffff;
Secondary Color (D.Beige): E3D7CC;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #0c0f0f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
  /* Centers text */
}

h2 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

main {
  padding-top: 72px;
}

img {
  width: 100%;
}

a {
  color: #0c0f0f;
  text-decoration: underline;
  transition: 0.2s opacity;
}


a:hover {
  color: #E3D7CC;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #E3D7CC;
}

a:hover,
a:focus {
  color: #E3D7CC;
  text-decoration: underline;
}

.project-link {
  color: #0800ff;
  text-decoration: underline;
}

.project-link:hover {
  color: #E3D7CC;
}


.button {
  display: inline-block;
  background-color: #f5f1ed;
  color: #333333;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ffffff;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #333333;
  color: #ffffff;
  opacity: 0.8;
}

.button-contact {
  background-color: #f5f1ed;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #E3D7CC;
  transition: 0.2s opacity;
}

.button-contact:hover {
  opacity: 0.8;
  background-color: #333333;
  color: #ffffff;
  border: 2px solid #333333;
}

.button-social {
  display: inline-block;
  position: relative;
  width: 5%;
}

.button-social:hover {
  display: inline-block;
  width: 6%;
  color: #E3D7CC;
}

.button-resume {
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #333333;
  transition: 0.2s opacity;
}

.button-resume:hover {
  opacity: 0.8;
  background-color: #E3D7CC;
  color: #333333;
  border: 2px solid #E3D7CC;
}

/* Main Animation */
.girl-illustration {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 550px;
  height: auto;
}

/* Lightbulb Animation */
@keyframes color-change {
  from {fill: #fcd277}
  to {fill: #ffffff}
}

#path302 {
  animation: 4s color-change infinite alternate;linear;
}

/* Lightbulb Rays Animation */
@keyframes color-change-rays {
  from {fill: #fcd277}
  to {fill: #ddd6ef}
}

#path332 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path330 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path328 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path326 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path324 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path322 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path320 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path304 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path306 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path308 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path310 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path312 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path314 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path316 {
  animation: 4s color-change-rays infinite alternate;linear;
}
#path318 {
  animation: 4s color-change-rays infinite alternate;linear;
}

/* Stars Animation */
@keyframes star-move1 {
  from {fill: #8076C2; transform: translate(0px,50px);}
  to {fill:#ffffff; transform: translate(-150px, 100px);}
}

#path584 {
  animation: 3s star-move1 infinite alternate ease-out;
}

@keyframes star-move2 {
  from {fill: #8076C2; transform: translate(0px,100px);}
  to {fill:#ffffff; transform: translate(-50px, 50px);}
}

#path586 {
  animation: 2s star-move2 infinite alternate ease-out;
}

@keyframes star-move3 {
  from {fill: #8076C2; transform: translate(0px,100px);}
  to {fill:#DDD6EF; transform: translate(-50px, 25px);}
}

#path580 {
  animation: 3.5s star-move3 infinite alternate ease-out;
}

@keyframes star-move4 {
  from {fill: #8076C2; transform: translate(0px,100px);}
  to {fill:#ffffff; transform: translate(50px, 200px);}
}

#path582 {
  animation: 2.5s star-move4 infinite alternate ease-out;
}



/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work row {
  padding-bottom: 25px;
  border-bottom: 2px solid #333333
}

#hero {
  text-align: center;
  /* Centers text */
  background-color: #f5f1ed;
  padding: 0 5px;
  display: inline-block;
  width: 100%;
}


/* Header & Navigation Styling */
.logo {
  max-width: 36px;
}


nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


nav>ul>li>a {
  padding: 0 15px;
  font-family: 'Tenor Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px
  color: #333333;
}

nav>ul>li>a:hover {
  color: #E3D7CC;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

nav>ul>li>a:active {
  /* selected link */
  color: #333333;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #E3D7CC;
  text-decoration: underline;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-top: 15px;
  padding-right: 0;
}

/* navtoggle responsive */
.navtoggle.responsive nav {
  padding: 20px 0 0;
  text-align: center;
  font-size: 18px;
  border-top: 1px solid #f5f1ed;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.work-link-wrapper img{
  border: 5px;
  border-style: solid;
  border-color: #E3D7CC;
}

.work-link-wrapper:hover img {
  transition: all 800ms;
  transform: scale(1.05);
  padding:6px;
}

/* Footer Styling */
footer {
  text-align: center;
  /* Centers text */
  background-color: #E3D7CC;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 12px 0 10px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 2px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 80px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }


  .col-md-6 {
    width: 50%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-link-wrapper img{
  transition: all 500ms;
}

.logo-link-wrapper:hover img {
  transition: all 500ms;
  transform: scale(1.1);
}
